<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de nosotros</title>
</head>
<body>
    <header>
        <h1>Acerca de nosotros</h1>
    </header>
    <main>
        <p>Somos una empresa comprometida con la excelencia y la innovación.</p>
        <p>Nuestra misión es proporcionar soluciones tecnológicas de vanguardia que impulsen el éxito de nuestros clientes.</p>
        <p>Contamos con un equipo altamente capacitado y apasionado por lo que hace.</p>
    </main>
    <footer>
        <p>Contacto: info@empresa.com</p>
    </footer>
</body>
</html>